@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Poppins:wght@100..900&family=Montserrat:wght@100..900&display=swap');

@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif; /* Default Font */
}

/* Specific font usage */
.poppins {
  font-family: 'Poppins', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}
